    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Bar Tack</h2>
                <p>Bar Tack Consulting was founded in 2015 when <a href="http://www.madibell.com">Madison</a> moved to Berlin, following nearly 7 years working at San Francisco based start ups, including <a href="https://www.nextdoor.com">Nextdoor</a> and <a href = "https://www.apartmentlist.com">Apartment List</a>.</p>
                <p>We specalize in product management for early and mid-stage start ups.</p>
            </div>
        </div>
    </section>
